main {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dollar-sign {
  width: 100px;
  height: auto;
}

.ceo-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee h1 {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
}

.htmx-pups {
  max-width: 500px;
  height: auto;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

header,
footer {
  text-align: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.image-box:hover img {
  transform: scale(1.1);
  border-radius: 10px;
}

.image-box {
  flex: 0 0 calc(16.66% - 10px);
  margin: 5px;
  box-sizing: border-box;
  overflow: hidden;
}



@media (min-width: 601px) and (max-width: 1024px) {
  .image-box {
    flex: 0 0 calc(33.33% - 10px); /* For 3 images per row */
  }
}

@media (max-width: 600px) {
  .image-box {
    flex: 0 0 calc(50% - 10px);
  }
}
